@using DotNetBlog.Core.Model.Topic
@using DotNetBlog.Core.Model.Setting
@inject ClientManager clientManager
@inject SettingModel config
@inject IViewLocalizer L

@model List<TopicModel>

@foreach (TopicModel topic in Model)
{
    <article class="post" id="post@(topic.ID)">
        <header class="post-header">
            <h2 class="post-title">
                <a blog-topic="topic">@topic.Title</a>
            </h2>
            <div class="post-info clearfix">
                <span class="post-date">
                    <i class="fa fa-calendar"></i>
                    @topic.Date.ToString("yyyy-MM-dd")
                </span>
                <span class="post-category" condition="@topic.Categories.Length > 0">
                    <i class="fa fa-folder"></i>
                    @foreach (var category in topic.Categories)
                    {
                        <a asp-action="Category" asp-controller="Home" asp-route-id="@category.ID">@category.Name</a>
                    }
                </span>
                <a rel="nofollow" class="pull-right post-comment-link" blog-topic="topic" blog-topic-fragment="comments">
                    <i class="fa fa-comment"></i>
                    (@topic.Comments.Approved)
                </a>
            </div>
        </header>
        <section class="post-body text">
            <visible condition="config.OnlyShowSummary">
                @topic.Summary
                <a blog-topic="topic">[@(L["More"])...]</a>
            </visible>
            <visible condition="!config.OnlyShowSummary">
                <markdown content="@topic.Content"></markdown>
            </visible>
        </section>

        <visible condition="clientManager.IsLogin">
            <visible condition="topic.Comments.Pending > 0">
                <a asp-action="Topic" asp-controller="Home" asp-route-id="@topic.ID" asp-fragment="comments">@L["Unaudited comments({0})", topic.Comments.Pending]</a> |
                <a asp-action="ApproveComments" asp-controller="QuickAction" asp-route-topicID="@topic.ID">@L["Approve comments"]</a> |
            </visible>
            <a asp-action="Index" asp-controller="Admin" asp-fragment="@("/content/topic/" + topic.ID.ToString())">@L["Edit"]</a> |
            <a asp-action="DeleteTopic" asp-controller="QuickAction" asp-route-topicID="@topic.ID" onclick="if (!confirm('Are you sure you want to delete the article?')) return false">@L["Delete"]</a>
        </visible>

    </article>
}