@using DotNetBlog.Web.ViewModels.Exception
@model ErrorViewModel
@inject IViewLocalizer L

<div class="error-page">
    <h2 class="headline text-red">500</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> @Model.Title</h3>

        <p>
            @Model.Content
        </p>
        <p>
            @L["You can"] <a asp-action="Index" asp-controller="Home">@L["return to home page"]</a>, @L["or search for other resources"]
        </p>

        <form asp-action="Search" asp-controller="Home" class="search-form" method="get">
            <div class="input-group">
                <input type="text" name="keywords" class="form-control" placeholder="@L["enter the keyword search"]">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-danger btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>