@inject ClientManager clientManager
@inject IViewLocalizer L
@{ 
    var config = ViewBag.Config as AdministrationWidgetConfigModel;
}

<visible condition="clientManager.IsLogin">
    <div class="Widget widget administration">
        <h4 class="WidgetHeader widget-header">@config.Title</h4>
        <div class="WidgetContent widget-content">
            <ul class="toprounded" id="uxMenu_ulMenu">
                <li><a asp-action="Index" asp-controller="Admin" asp-fragment="/dashboard"><span>@L["Dashboard"]</span></a></li>
                <li><a asp-action="Index" asp-controller="Admin" asp-fragment="/content/topics"><span>@L["Content"]</span></a></li>
                <li><a asp-action="Index" asp-controller="Admin" asp-fragment="/custom/widgets"><span>@L["Customize"]</span></a></li>
                <li><a asp-action="Index" asp-controller="Admin" asp-fragment="/config/basic"><span>@L["Setup"]</span></a></li>
                <li><a asp-action="Index" asp-controller="Admin" asp-fragment="/profile"><span>@L["Personal information"]</span></a></li>
                <li><a asp-action="ChangePassword" asp-controller="Account"><span>@L["Change password"]</span></a></li>
            </ul>
        </div>
    </div>
</visible>