@inject SettingModel settingModel
@inject ClientManager clientManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta name="description" content="@Html.Raw(settingModel.Description)"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/styles/main.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav ">
                        <li><a asp-action="Index" asp-controller="Home">首页</a></li>
                        <li><a href="http://localhost:10002/archive">归档</a></li>
                        <li><a href="http://localhost:10002/contact">联系</a></li>

                        @await Component.InvokeAsync("PageListNav")
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-action="LogOff" asp-controller="Account" condition="clientManager.IsLogin">注销</a></li>
                        <li><a asp-action="Login" asp-controller="Account" condition="!clientManager.IsLogin">登录</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="title-wrapper">
            <div class="container">
                <hgroup class="pull-left">
                    <h1><a asp-action="Index" asp-controller="Home">@settingModel.Title</a></h1>
                    <h3>@settingModel.Description</h3>
                </hgroup>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="row">
            <section class="col-md-8">
                @RenderBody()
            </section>

            <aside class="col-md-4">
                @await Component.InvokeAsync("Widgets")
            </aside>
        </div>
    </section>

    <footer class="footer">
        <div class="container">

        </div>
        <div class="end-line text-center">
            <p class="text-muted credit">Copyright © 2016 <a asp-action="Index" asp-controller="Home">@settingModel.Title</a> - Powered by <a href="http://dotnetblogengine.net" target="_blank">BlogEngine.NET</a> 3.3.0.1 - Design by <a href="http://seyfolahi.net/" title="Farzin Seyfolahi - UI/UX Designer at BlogEngine.NET" target="_blank">FS</a> </p>
        </div>
    </footer>
</body>
</html>
