@using DotNetBlog.Core.Model.Topic
@using DotNetBlog.Core.Model.Setting
@inject ClientManager clientManager
@inject SettingModel config

@model List<TopicModel>

@foreach (TopicModel topic in Model)
{
    <article class="post" id="post@(topic.ID)">
        <header class="post-header">
            <h2 class="post-title">
                <a blog-topic="topic">@topic.Title</a>
            </h2>
            <div class="post-info clearfix">
                <span class="post-date">
                    <i class="fa fa-calendar"></i>
                    @topic.Date.ToString("yyyy-MM-dd")
                </span>
                <span class="post-category" condition="@topic.Categories.Length > 0">
                    <i class="fa fa-folder"></i>
                    @foreach (var category in topic.Categories)
                    {
                        <a asp-action="Category" asp-controller="Home" asp-route-id="@category.ID">@category.Name</a>
                    }
                </span>
                <a rel="nofollow" class="pull-right post-comment-link" href="/post/test2#comment">
                    <i class="fa fa-comment"></i>
                    (@topic.Comments.Approved)
                </a>
            </div>
        </header>
        <section class="post-body text">
            <visible condition="config.OnlyShowSummary">
                @topic.Summary
            </visible>
            <visible condition="!config.OnlyShowSummary">
                @Html.Raw(topic.Content)
            </visible>
        </section>

        <visible condition="clientManager.IsLogin">
            <visible condition="topic.Comments.Pending > 0">
                <a asp-action="Topic" asp-controller="Home" asp-route-id="@topic.ID" asp-fragment="comments">未审核的评论(@topic.Comments.Pending)</a> |
                <a asp-action="ApproveComments" asp-controller="QuickAction" asp-route-topicID="@topic.ID">通过所有评论</a> |
            </visible>
            <a asp-action="Index" asp-controller="Admin" asp-fragment="@("/content/topic/" + topic.ID.ToString())">编辑</a> |
            <a asp-action="DeleteTopic" asp-controller="QuickAction" asp-route-id="@topic.ID" onclick="if (!confirm('您确定要 删除 文章?')) return false">删除</a>
        </visible>

    </article>
}