@model SearchPageViewModel
@inject IViewLocalizer L
<div class="searchpage post search-page page-global">
    <h2 condition="!string.IsNullOrWhiteSpace(Model.Keywords)" class="page-global-title">@L["Search result"]： '@Model.Keywords'</h2>
    <h2 condition="string.IsNullOrWhiteSpace(Model.Keywords)" class="page-global-title">@L["Enter the keyword for search"]</h2>
    <div id="searchpage" class="search-page-searchbox clearfix">
        <form method="get" asp-action="Search" asp-controller="Home" asp-route-page="">
            <input type="text" name="keywords" value="@Model.Keywords" >
            <input type="submit" value="@L["search for"]" class="btn btn-primary" >
        </form>
    </div>

    @foreach (var topic in Model.TopicList.Data)
    {
        <div class="searchresult">
            <a blog-topic="topic">@topic.Title</a>
            <span class="text">@topic.Summary</span>
            <span class="type" style="display:block;">
                <strong>@L["Category"]</strong> : 
                @foreach (var category in topic.Categories)
                { 
                    @category.Name 
                    @(" ")
                }
                <br>
                <strong>@L["Tag"]</strong> :
                @foreach (var tag in topic.Tags)
                { 
                    @tag
                    @(" ")
                }
            </span>
        </div>
    }

</div>