@model TopicPageViewModel

@{ 
    var commentListViewModel = new CommentListViewModel
    {
        AllCommentList = Model.CommentList,
        CommentList = Model.CommentList.Where(t => t.ReplyToID == null).ToList()
    };
}

<div id="postnavigation" class="navigation-posts well-global" condition="Model.PrevTopic != null || Model.NextTopic != null">
    <div class="row">

        <div class="col-sm-6 text-left next-post">
            <visible condition="Model.NextTopic != null">
                <a asp-action="Topic" asp-controller="Home" asp-route-id="@Model.NextTopic.ID" class="nav-next"> &larr; @Model.NextTopic.Title </a>
            </visible>
        </div>

        <div class="col-sm-6 text-right prev-post">
            <visible condition="Model.PrevTopic != null">
                <a asp-action="Topic" asp-controller="Home" asp-route-id="@Model.PrevTopic.ID" class="nav-prev">@Model.PrevTopic.Title &rarr;</a>
            </visible>
        </div>
    </div>
</div>

<article class="post">
    <header class="post-header">
        <h2 class="post-title">
            <a asp-action="Topic" asp-controller="Home" asp-route-id="@Model.Topic.ID">@Model.Topic.Title</a>
        </h2>
        <div class="post-info clearfix">
            <span class="post-date">
                <i class="fa fa-calendar"></i>
                @Model.Topic.Date.ToString("yyyy-MM-dd")
            </span>
            <span class="post-category" condition="Model.Topic.Categories.Length > 0">
                <i class="fa fa-folder"></i>
                @foreach(var category in Model.Topic.Categories)
                {
                    <a asp-action="Category" asp-controller="Home" asp-route-id="@category.ID">@category.Name</a>
                }
            </span>
            <a rel="nofollow" class="pull-right post-comment-link" asp-action="Topic" asp-controller="Home" asp-route-id="@Model.Topic.ID" asp-fragment="comments">
                <i class="fa fa-comment"></i>
                (@Model.Topic.Comments.Approved)
            </a>
        </div>
    </header>
    <section class="post-body text">
        @Html.Raw(Model.Topic.Content)
    </section>

    <footer class="post-footer" condition="Model.Topic.Tags.Any()">
        <div class="post-tags">
            标签 :
            @foreach(var tag in Model.Topic.Tags)
            {
                <a asp-action="Tag" asp-controller="Home" asp-route-keyword="@tag">@tag</a>
            }
        </div>
    </footer>
</article>

<div id="relatedPosts" class="related-posts well-global" condition="Model.RelatedTopicList.Any()">
    <h3 class="well-global-title">相关文章</h3>
    <ul class="list-unstyled">
        @foreach (var topic in Model.RelatedTopicList)
        {
        <li>
            <a asp-action="Topic" asp-controller="Home" asp-route-id="@topic.ID">@topic.Title</a>
            <div><small class="text-muted">This is a post two. The variables searchTerm and selectCommand are initialized at the top. You're go</small></div>
        </li>
        }
    </ul>
</div>

<div class="well-global">
    <h3 id="comments" class="well-global-title">
        评论 (@Model.Topic.Comments.Approved)
    </h3>

    <div id="commentlist">
        <ul class="media-list">
            @Html.Partial("_CommentList", commentListViewModel)
        </ul>
    </div>
</div>

<div id="comment-form" condition="Model.Topic.AllowComment">
    <form method="post" asp-action="AddComment" asp-controller="QuickAction">
        <input type="hidden" name="TopicID" value="@Model.Topic.ID"/>
        <input type="hidden" name="ReplyTo" value="" />
        <div class="comment-form well-global">
            <div class="well-global-title clearfix">
                <h3 class="pull-left" id="addcomment">添加评论</h3>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="txtName" class="col-md-2 control-label">名字 *</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="Name" id="txtName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEmail" class="col-md-2 control-label">E-mail *</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="Email" id="txtEmail">
                        <span id="gravatarmsg"></span>
                    </div>
                </div>

                <div class="form-group" id="commentCompose">
                    <label for="txtContent" class="col-md-2 control-label">评论 *</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="txtContent" cols="50" rows="6" name="Content"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-7 control-label">
                        <input type="checkbox" id="cbNotify" class="cmnt-frm-notify">
                        有评论的时候通知我
                    </label>
                    <div class="col-md-5 text-right">
                        <input type="submit" id="btnSaveAjax" value="保存评论" class="btn btn-primary" onclick="return BlogEngine.validateAndSubmitCommentForm()">
                    </div>
                </div>
            </div>

        </div>
        <p id="cancelReply" style="display: none;">
            <a href="javascript:void(0);" onclick="BlogEngine.cancelReply();">取消对该留言的回复</a>
        </p>
    </form>
</div>