@using DotNetBlog.Core.Model.Comment
@model List<CommentItemModel>
@{ 
    var config = ViewBag.Config as RecentCommentWidgetConfigModel;
}

<div class="Widget widget recentcomments">
    <h4 class="WidgetHeader widget-header">@config.Title</h4>
    <div class="WidgetContent widget-content">
        <ul class="recentcomments">
            @foreach (var comment in Model)
            {
            <li>
                <a blog-topic="@comment.Topic" blog-topic-fragment="comments">@comment.Topic.Title</a> (@comment.Topic.Comments.Approved)
                <br>@comment.Name 写道: @comment.Content
            </li>
            }
            @*<li>
                <a href="/syndication.axd?comments=true">
                    评论RSS <img alt="" src="/Content/images/blog/rssButton.png">
                </a>
            </li>*@
        </ul>
    </div>
</div>