@using DotNetBlog.Core.Model.Topic
@model List<MonthStatisticsModel>

@{ 
    var groupList = Model.GroupBy(t => t.Month.Year);
}

<div class="Widget widget monthlist">
    <h4 class="WidgetHeader widget-header">归档</h4>
    <div class="WidgetContent widget-content">
        <ul>
            @foreach (var year in groupList)
            {
            <li onclick="BlogEngine.toggleMonth('year@(year.Key)')" class="year">
                @year.Key                
                <ul id="year@(year.Key)" class="open">
                    @foreach (var month in year)
                    {
                    <li><a asp-action="Month" asp-controller="Home" asp-route-year="@(month.Month.Year)" asp-route-month="@(month.Month.Month)" asp-route-page="">@month.Month.ToString("MM月")</a> (@month.Topics.Published)</li>
                    }
                </ul>
            </li>
            }
        </ul>
    </div>
</div>